
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fffdf2;
    min-height: 100vh;
}

.main-header {
    background-color: #b3e5fc;
    border-radius: 20px;
}

.logo-contenedor {
    background-color: white;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    flex-shrink: 0;
}

.logo-contenedor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h1 {
    color: #6a1b9a;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: calc(1.5rem + 1.5vw);
}

.products-section {
    background-color: #ffdae9;
    border-radius: 30px;
}

.section-title {
    color: #6a1b9a;
    font-weight: 700;
}


.img-container {
    height: 180px;
    border-radius: 20px;
    border: 4px solid #444; 
    overflow: hidden;
    background-color: #4fc3f7; 
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info {
    text-align: center;
}

.p-name { color: #6a1b9a; font-weight: 700; margin-bottom: 0; }
.p-price { color: #D81D61; font-weight: bold; margin-bottom: 0; }
.p-desc { font-size: 0.85rem; color: #585858; }


.info-bar {
    background-color: #b3e5fc;
    border-radius: 12px;
    color: #6a1b9a;
    font-weight: 600;
    min-height: 50px;
}

.bottom-footer {
    background-color: #6a1b9a;
    color: #ffffff;
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 2px;
}

@media (min-width: 1200px) {
    body {
        overflow: hidden;
    }
}
