* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fffdf2; /* Amarillo crema */
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow: hidden; /* Evita el scroll */
}

.main-header {
    background-color: #b3e5fc; /* Azul pastel */
    flex: 0 0 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border-radius: 20px;
}

/* Contenedor del logo del encabezado */
.logo-contenedor {
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
}

.logo-contenedor img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Para que el logo se vea completo */
}

h1 {
    color: #6a1b9a; /* Morado */
    letter-spacing: 6px;
    font-weight: 700;
}

/* --- Sección de Productos --- */
.products-section {
    background-color: #ffdae9; /* Rosa pastel */
    flex: 1;
    margin: 10px 0;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.section-title {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.products-grid {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.product-card {
    width: 18%;
    display: flex;
    flex-direction: column;
}

/* Contenedor de la foto del pastel */
.img-container {
    background-color: #4fc3f7; /* Azul de la tarjeta */
    height: 140px; /* Altura fija para que no crezca */
    border-radius: 20px; 
    border: 4px solid #444; /* Borde oscuro como tu diseño */
    overflow: hidden; /* Corta la foto para que no salga del cuadro */
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la foto al cuadro automáticamente */
}

.product-info {
    text-align: center;
    padding-top: 10px;
}

.p-name { font-weight: 700; color: white; margin-bottom: 2px; }
.p-price { color: #6a1b9a; font-weight: bold; }
.p-desc { font-size: 0.8rem; color: #0277bd; }

/* --- Barras inferiores --- */
.contact-bars {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.info-bar {
    background-color: #b3e5fc;
    padding: 10px;
    border-radius: 10px;
    color: #6a1b9a;
    font-size: 0.9rem;
    font-weight: 600;
}

.msg { flex: 2; text-align: left; }
.contact { flex: 1.5; text-align: right; }

.bottom-footer {
    background-color: #b3e5fc;
    color: #6a1b9a;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    font-size: 0.85rem;
}